.footer {
    overflow: hidden;
    background-color: #fff;
    color: $gray;
    border-top: 5px solid $brand-primary;

    &__articles {
        padding: 20px 0;
        background-color: $gray-darker;
        color: $gray;

        .container {
            display: flex;
            flex-direction: row;
        }

        .moduletable {
            flex: 1 0 0;
        }

        h3 {
            color: $gray-light;
        }
    }

    &__bottom {
        padding: 20px 0;
        overflow: hidden;
        border-top: 2px solid darken($gray-base, 5);
        font-size: 13px;
    }
}
