.footer {
    overflow: hidden;
    background-color: #121212;
    color: #a7a7a7;

    &__articles {
        padding: 20px 0;
        background-color: #1A1A1A;
        color: #959595;

        .container {
            display: flex;
            flex-direction: row;
        }

        .moduletable {
            flex: 1 0 0;
        }

        h3 {
            color: $gray-lighter;
        }
    }

    &__bottom {
        padding: 20px 0;
        overflow: hidden;
        border-top: 3px solid #242325;
        font-size: 13px;
    }
}