
@import "../helpers/functions";

$palette1: #000000;
$palette2: #5F0000;
$palette3: #780000;
$palette4: #FF0202;
$palette5: #2D2121;

$palette6: #BE1500;
$palette7: #E33302;
$palette8: #F55E19;
$palette9: #FCAB52;


body {
    padding-top: 3.4rem;
    font-weight: 300;
}
/*
h1,
h2,
h3,
h4 {
    text-shadow:
    
     rgb(17, 17, 17) 3px 0px 0px, rgb(17, 17, 17) 2.83333px 0.983333px 0px, rgb(17, 17, 17) 2.35px 1.85px 0px, rgb(17, 17, 17) 1.61667px 2.51667px 0px, rgb(17, 17, 17) 0.7px 2.91667px 0px, rgb(17, 17, 17) -0.283333px 2.98333px 0px, rgb(17, 17, 17) -1.25px 2.73333px 0px, rgb(17, 17, 17) -2.06667px 2.16667px 0px, rgb(17, 17, 17) -2.66667px 1.36667px 0px, rgb(17, 17, 17) -2.96667px 0.416667px 0px, rgb(17, 17, 17) -2.95px -0.566667px 0px, rgb(17, 17, 17) -2.6px -1.5px 0px, rgb(17, 17, 17) -1.96667px -2.26667px 0px, rgb(17, 17, 17) -1.11667px -2.78333px 0px, rgb(17, 17, 17) -0.133333px -3px 0px, rgb(17, 17, 17) 0.85px -2.88333px 0px, rgb(17, 17, 17) 1.75px -2.43333px 0px, rgb(17, 17, 17) 2.45px -1.73333px 0px, rgb(17, 17, 17) 2.88333px -0.833333px 0px
 ;
}
*/

.qiuck-select {
    //margin-top: -10%;
    //padding-bottom: 150px;

    .container {
        display: flex;
    }

    &__item {
        display: block;
        width: 25%;

        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    &__item1,
    &__item2,
    &__item3,
    &__item4 {
        background-image: image-url("bag1.jpg");
        background-size: 100% 100%;
        background-position: 50% 50%;
        transition: background-size .2s ease-in-out;

        &:hover {
            background-size: 120% 120%;
        }
    }
    &__item2 {
        background-image: image-url("pattern2.jpg");
    }
    &__item3 {
        background-image: image-url("pattern3.jpg");
    }
    &__item4 {
        background-image: image-url("bag2.jpg");
    }
}

.user3 {
    background: image-url("bg1.png") repeat fixed;

    .container {
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        &:after {
            display: block;
            content: "";
            background: image-url("kissing-bird.png") no-repeat;
            background-size: 100%;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            border: 12px solid #D2EEA0;
            box-shadow: 0 0 30px rgba(0, 30, 0, 0.4) inset;
        }
    }
    .moduletable {

    }
}
// for google map

#map {
    width: 100%;
    height: 400px;
}

.parallax--map {
    .parallax {
        background: $gray-darker;
    }
}
