.logos {
  margin: 30px -10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__item {
    display: flex;
    padding: 10px;
    flex: 0 0 50%;
  }

  &__link {
    display: block;
    margin: auto;
  }

  &__img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
  }

}

@media (min-width: 768px) {
  .logos {
    &__item--ialb {
      flex: 0 0 30%;

      .logos__img {
        margin-bottom: 12%;
      }
    }

    &__item--eufras {
      flex: 0 0 30%;
    }

    &__item--seasn {
      flex: 0 0 20%;
    }

    &__item--gazdasz {
      flex: 0 0 20%;
    }
  }
}
