
@import "../helpers/functions";


.main-nav {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;

  .nav-item + .nav-item {
    margin: 0;
  }

  .nav-link {
    transition: background-color .2s;
    padding: 10px 15px;

    &:hover {
      background: $brand-primary;
    }

    &.active {
      background: $brand-primary;
    }
  }

  .dropdown-menu {
    padding: 0;
    font-size: 14px;
  }

  .dropdown-item {
    padding: 0;
  }
}

div.mod-languages {
  float: right;
  margin: 8px 0;

  img {
    width: 22px;
    border: 1px solid $gray-dark !important;
  }
}

@include media-breakpoint-up(sm) {
  .dropdown:hover .dropdown-menu {
      display: block;
  }
}

.dropdown-menu {
  margin: 0;
}

