
.main-nav {
  text-transform: uppercase;
}

.navbar-transparent {
  opacity: .5;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

include media-breakpoint-up(sm) {
  .dropdown:hover .dropdown-menu {
      display: block;
  }
}

.dropdown-menu {
  margin: 0;
}
