
@import "../helpers/functions";

.header__banner {
  padding-bottom: 20%;
  background: image-url("mosonmagyarovar.jpg") no-repeat 50% 0;
  background-size: cover;
}

.main-nav {
  font-family: $font-family-serif;
  font-variant: small-caps;
}

include media-breakpoint-up(sm) {
  .dropdown:hover .dropdown-menu {
      display: block;
  }
}

.dropdown-menu {
  margin: 0;
}
