
@import "../helpers/functions";

.parallax {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    &__wrapper {
        overflow: hidden;
        position: relative;
        height: 38vw;
    }

    &__scroll {
        bottom: 0;
        left: 50%;
        min-height: 56vw;
        min-width: 100%;
        position: absolute;
        transform: translateX(-50%);
        margin-left: -1px;
    }

    &--map {
        color: $gray;
    }

}

