
@import "../helpers/functions";

.banner {
  position: relative;
}

.custom_video-content {
  position: absolute;
  top: 0;
  right: 5%;
  bottom: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
}
